main {
    background-size: cover;
    flex: 1 1 auto;
    position: relative;
    background-position: 50% -13vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15.86vw;
    padding-bottom: 1vw;
    overflow: hidden;
}

main.applicant {
    background-image: url(../img/applicant-promo.jpg);
}

main.employer {
    background-image: url(../img/employer-promo.png);
}

.search-form {
    margin-top: 0.56vw;
    background-color: var(--primary-color);
    padding: 2.15vw 2.97vw 0.45vw 3.28vw;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.52vw;
    column-gap: 1.08vw;
    width: 67.24vw;
    position: relative;
}

.search-form__input {
    height: 2.88vw;
    border-radius: 0.20vw;
    background-color: var(--background-color);
    padding: 0 1vw;
    font-size: var(--font-size-ux);
    letter-spacing: 0.065vw;
    border: 0.025vw solid var(--text-color);
    padding-bottom: 2px;
}

.search-form__input::placeholder {
    opacity: 0.7;
}

.search-form__input-wrapper {
    flex: 1 1 auto;
    position: relative;
}

.search-form__input.search {
    width: 100%;
}

.search-form__input.select {
    font-weight: 400;
    width: 10.78vw;
    text-align: left;
    flex-shrink: 0;
}

.search-form__input.select button {
    opacity: 0.7;
}

.search-form__input:focus {
    outline: none;
    border-color: var(--link-color);
}

.search-form__is-active-checkbox {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.67vw;
    user-select: none;
}

.search-form__is-active-checkbox:has(input:checked) {
    color: var(--link-color);
}

.search-form__is-active-checkbox::before {
    content: "";
    height: 1.19vw;
    width: 1.19vw;
    background-color: var(--background-color);
    border: 0.025vw solid var(--text-color);
    border-radius: 0.15vw;
}

.search-form__is-active-checkbox:has(input:checked)::before {
    background-color: var(--link-color);
    border-color: var(--link-color);
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;
}

.search-form__is-active-checkbox input {
    opacity: 0;
    display: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.15vw;
    border: 0.025vw solid var(--primary-color);
}

.search-form__button {
    cursor: pointer;
    font-weight: 400;
    background-color: var(--second-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.20vw;
    width: 8.80vw;
}

.search-form__button:hover {
    background-color: #FF0100;
}

.search-form__button span {
    opacity: 0.7;
}

.search-form__button:hover span {
    opacity: 1;
}

.search-form__suggestions {
    position: absolute;
    bottom: 2.2vw;
    left: 3.28vw;
    right: 2.97vw;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 0.05vw solid var(--link-color);
}

.search-form__suggestions li {
    background-color: var(--background-color);
    box-shadow: 0 0.25vw 0.75vw rgba(0, 0, 0, 0.10);
    white-space: pre-wrap;
}

.search-form__suggestions li.profession {
    padding-left: 1.40vw;
    height: 2.86vw;
    display: flex;
    align-items: center;
}

.search-form__suggestions li.profession span {
    font-weight: 400;
    color: var(--link-color);
}

.search-form__suggestions li.profession:hover {
    background-color: var(--primary-color);
}

.search-form__suggestions li.company {
    padding-left: 0.98vw;
    padding-top: 0.67vw;
    padding-bottom: 0.78vw;
    height: 5.52vw;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-ux);
}

.search-form__suggestions li.company:hover {
    background-color: var(--primary-color);
}

.search-form__suggestions li.company .inn span,
.search-form__suggestions li.company .name span,
.search-form__suggestions li.company .address span
{
    color: var(--link-color);
    font-weight: 400;
}

.search-form__suggestions li.company .inn::after {
    content: "   ";
}

.search-form__suggestions li.company .name {
    font-weight: 400;
}

.search-form__suggestions li.company .address {
    flex-basis: 100%;
}

.search-form__suggestions li.company .vacancy-number {
    color: #7F7F7F;
}

.search-form__suggestions li.company .vacancy-number span {
    font-weight: 400;
    color: #2B2B2B;
    text-decoration: underline;
    text-underline-offset: 0.22vw;
    text-decoration-thickness: 0.025vw;
}

.search-form__suggestions li.company .vacancy-number span:hover {
    color: var(--link-color);
    cursor: pointer;
}

.promo-links {
    display: flex;
    margin-top: 6.15vw;
    gap: 7.34vw;
}

.promo-links>a {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 0.20vw;
    border: 0.1vw solid var(--primary-color);
    padding: 0.58vw 0 0.64vw 0;
    width: 14.21vw;
    font-weight: 500;
    font-size: var(--font-size-ux);
}

.promo-links>a:hover {
    background-color: var(--primary-color);
    color: #FF0100;
}