main {
    background-image: url(../img/home.png);
    background-size: cover;
    flex: 1 1 auto;
    position: relative;
    background-position: 50% -13vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 12.91vw;
}

main::before {
    content: "";
    position: absolute;
    width: 25.10vw;
    height: 4.26vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    top: 2.60vw;
    left: 4.63vw;
}

.promo-text {
    display: flex;
    gap: 1vw;
    align-items: center;
    color: var(--primary-color);
    font-weight: 700;
    font-size: var(--font-size-ux);
    letter-spacing: 0.01vw;
}

.promo-text h1 {
    font-size: 2em;
}

.promo-text img {
    height: 1.7vw;
}

.search-form {
    margin-top: 0.56vw;
    background-color: var(--primary-color);
    padding: 2.15vw 2.97vw 0.45vw 3.28vw;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.52vw;
    column-gap: 1.08vw;
    width: 67.24vw;
}

.search-form__input {
    height: 2.88vw;
    border-radius: 0.20vw;
    background-color: var(--background-color);
    padding: 0 1vw;
    font-size: var(--font-size-ux);
    letter-spacing: 0.065vw;
    border: 0.05vw solid var(--text-color);
}

.search-form__input::placeholder {
    opacity: 0.7;
}

.search-form__input-wrapper {
    flex: 1 1 auto;
    position: relative;
}

.search-form__input.search {
    width: 100%;
}

.search-form__input.select {
    font-weight: 350;
    width: 10.78vw;
    text-align: left;
    flex-shrink: 0;
}

.search-form__input.select button {
    opacity: 0.7;
}

.search-form__input:focus {
    outline: none;
    border-color: var(--link-color);
}

.search-form__is-active-checkbox {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.67vw;
    user-select: none;
}

.search-form__is-active-checkbox::before {
    content: "";
    height: 1.19vw;
    width: 1.19vw;
    background-color: var(--background-color);
    border: 0.05vw solid var(--text-color);
    border-radius: 0.15vw;
}

.search-form__is-active-checkbox:has(input:checked)::before {
    background-color: var(--link-color);
    border-color: var(--link-color);
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;
}

.search-form__is-active-checkbox input {
    opacity: 0;
    display: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.15vw;
    border: 0.05vw solid var(--primary-color);
}

.search-form__button {
    cursor: pointer;
    background-color: var(--second-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.20vw;
    width: 8.80vw;
}

.search-form__button span {
    text-shadow: 0 0.20vw 0.20vw rgba(0, 0, 0, 0.25);
    opacity: 0.7;
}

.promo-links {
    display: flex;
    margin-top: 6.15vw;
    gap: 7.34vw;
}

.promo-links>a {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 0.20vw;
    border: 0.1vw solid var(--primary-color);
    padding: 0.58vw 0 0.64vw 0;
    width: 14.21vw;
    font-weight: 500;
    font-size: var(--font-size-ux);
}